<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RetynaWeb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json?h=eed4d16da80411bc190c3c04527f71d5">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css?h=c942239c91f94a6b90d67fb2496c21bf">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css?h=cabc25193678a4e8700df5b6f6e02b7c">
    <link rel="stylesheet" href="assets/css/Header-Blue.css?h=0b408546db1b69c889b6c1ff28a4909b">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css?h=bdd15207233b27ebc7c6fc928c71b34c">
    <link rel="stylesheet" href="assets/css/styles.css?h=d41d8cd98f00b204e9800998ecf8427e">
</head>

<body>
    <!-- Start: Header Blue -->
    <div>
        <!-- Start: Header -->
        <div class="header-blue" style="background-image: url(&quot;assets/img/2720262.jpg?h=ec6ad2bba80430fcb9ca990711510b1e&quot;);background-position: 50%;background-repeat: no-repeat;background-size: cover;">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="#">Agency</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end"
                        id="navcol-1"><span class="navbar-text"> <a class="login" href="index.html">Home</a></span><span class="navbar-text"> <a class="login" href="portfolio.html">Portfolio</a></span><span class="navbar-text"> <a class="login" href="about.html">About us</a></span>
                        <span
                            class="navbar-text"> <a class="login" href="contact.html">Contact Us</a></span><a class="btn btn-light action-button" role="button" href="#">Hire Us</a></div>
                </div>
            </nav>
            <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark navigation-clean-search" style="top: -80px;">
                <div class="container"><a class="navbar-brand" href="#">Agency</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end"
                        id="navcol-1"><span class="navbar-text"> <a class="login" href="index.html">Home</a></span><span class="navbar-text"> <a class="login" href="portfolio.html">Portfolio</a></span><span class="navbar-text"> <a class="login" href="about.html">About us</a></span>
                        <span
                            class="navbar-text"> <a class="login" href="contact.html">Contact Us</a></span><a class="btn btn-light action-button" role="button" href="#">Hire Us</a></div>
                </div>
            </nav>
            <div class="container hero" style="margin-top: 60px;">
                <div class="row d-lg-flex justify-content-lg-end">
                    <div class="col-auto d-lg-flex align-items-lg-center">
                        <p class="text-monospace text-nowrap text-uppercase" style="font-size: 50px;color: white;margin-bottom: 0px;">Contact us</p>
                    </div>
                </div>
                <div class="row d-lg-flex justify-content-lg-end align-items-lg-center">
                    <div class="col-auto">
                        <div class="shadow-sm d-lg-flex align-items-lg-center" style="display: inline-block;font-weight: 400;color: #e5e7e8;text-align: center;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-color: transparent;border-color: white;border: 1px solid;padding: .17rem .75rem;line-height: 1.5;border-radius: 25px;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;font-size: 1rem;"><a href="index.html" style="color: white;">Home</a><span class="d-lg-flex" style="font-size: 2rem;margin-right: 5px;margin-left: 5px;">|</span><a href="#" style="color: white;">contact</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Header -->
    </div>
    <!-- End: Header Blue -->
    <section class="py-5" style="background-color: #f1f7fc;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form method="post">
                        <h2 class="text-center mb-4">Contact us</h2>
                        <!-- Start: Success Example -->
                        <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                        <!-- End: Success Example -->
                        <!-- Start: Success Example -->
                        <div class="form-group"><input class="form-control" type="email" placeholder="Email Address"></div>
                        <!-- End: Success Example -->
                        <!-- Start: Success Example -->
                        <div class="form-group"><input class="form-control" type="tel" placeholder="Phone Number"></div>
                        <!-- End: Success Example -->
                        <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
                        <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
                    </form>
                </div>
                <div class="col">
                    <!-- Start: Intro -->
                    <div class="intro">
                        <h2 class="text-center mb-4">Location </h2>
                        <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
                    </div>
                    <!-- End: Intro --><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDaEw6o8OhJvRQnTF3gI_tibMejtfasOlY&amp;q=lagos%2C+Nigeria&amp;zoom=15" width="100%" height="450"></iframe></div>
            </div>
        </div>
    </section>
    <!-- Start: Footer Dark -->
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Start: Services -->
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <!-- End: Services -->
                    <!-- Start: About -->
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <!-- End: About -->
                    <!-- Start: Footer Text -->
                    <div class="col-md-6 item text">
                        <h3>Retyna</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <!-- End: Footer Text -->
                    <!-- Start: Social Icons -->
                    <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                    <!-- End: Social Icons -->
                </div>
                <!-- Start: Copyright -->
                <p class="copyright">Retyna © 2019</p>
                <!-- End: Copyright -->
            </div>
        </footer>
    </div>
    <!-- End: Footer Dark -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-animation.js?h=a24a748d1ebf2b30dec97d2c79b26872"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="assets/js/navbar.js?h=923d4df189f5d8cba791e8cdea65e7aa"></script>
</body>

</html>