<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>RetynaWeb</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="manifest" href="manifest.json?h=eed4d16da80411bc190c3c04527f71d5">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css?h=c942239c91f94a6b90d67fb2496c21bf">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css?h=cabc25193678a4e8700df5b6f6e02b7c">
    <link rel="stylesheet" href="assets/css/Header-Blue.css?h=0b408546db1b69c889b6c1ff28a4909b">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css?h=bdd15207233b27ebc7c6fc928c71b34c">
    <link rel="stylesheet" href="assets/css/styles.css?h=d41d8cd98f00b204e9800998ecf8427e">
</head>

<body>
    <!-- Start: Header Blue -->
    <div>
        <!-- Start: Header -->
        <div class="header-blue" style="background-image: url(&quot;assets/img/2720262.jpg?h=ec6ad2bba80430fcb9ca990711510b1e&quot;);background-position: 50%;background-repeat: no-repeat;background-size: cover;">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a class="navbar-brand" href="#">Agency</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end"
                        id="navcol-1"><span class="navbar-text"> <a class="login" href="index.html">Home</a></span><span class="navbar-text"> <a class="login" href="portfolio.html">Portfolio</a></span><span class="navbar-text"> <a class="login" href="about.html">About us</a></span>
                        <span
                            class="navbar-text"> <a class="login" href="contact.html">Contact Us</a></span><a class="btn btn-light action-button" role="button" href="#">Hire Us</a></div>
                </div>
            </nav>
            <div class="container hero" style="margin-top: 60px;">
                <div class="row d-lg-flex justify-content-lg-end">
                    <div class="col-auto d-lg-flex align-items-lg-center">
                        <p class="text-monospace text-nowrap text-uppercase" style="font-size: 50px;color: white;margin-bottom: 0px;">PORTFOLIO</p>
                    </div>
                </div>
                <div class="row d-lg-flex justify-content-lg-end align-items-lg-center">
                    <div class="col-auto">
                        <div class="shadow-sm d-lg-flex align-items-lg-center" style="display: inline-block;font-weight: 400;color: #e5e7e8;text-align: center;vertical-align: middle;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-color: transparent;border-color: white;border: 1px solid;padding: .17rem .75rem;line-height: 1.5;border-radius: 25px;transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;font-size: 1rem;"><a href="index.html" style="color: white;">Home</a><span class="d-lg-flex" style="font-size: 2rem;margin-right: 5px;margin-left: 5px;">|</span><a href="#" style="color: white;">Portfolio</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Header -->
    </div>
    <!-- End: Header Blue -->
    <section class="py-5">
        <div class="container">
            <div class="row d-md-flex justify-content-md-center justify-content-lg-center">
                <div class="col-auto text-center">
                    <p>ALL</p>
                </div>
                <div class="col-auto text-center">
                    <p>Web Design</p>
                </div>
                <div class="col-auto text-center">
                    <p>Web App</p>
                </div>
                <div class="col-auto text-center d-xl-flex">
                    <p>Graphic Design</p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 mt-3" data-aos="flip-left" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #184e8e;"><img class="rounded img-fluid img-fluid" src="assets/img/2514197.jpg?h=2fbe0f8225d7825731d9d885f30a695e" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-left" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #444444;"><img class="rounded img-fluid img-fluid" src="assets/img/9494.jpg?h=ecff2189054a987ca3a465c663e2581c" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-left" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #172a74;"><img class="rounded img-fluid img-fluid" src="assets/img/1574.jpg?h=cea3166ec6f54d9c760012282121d7a1" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-right" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #4c4866;"><img class="rounded img-fluid img-fluid" src="assets/img/51.jpg?h=63ae3fea8e5e11cd3eb764b9d2fcdaf4" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-right" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #4c4866;"><img class="rounded img-fluid img-fluid" src="assets/img/51.jpg?h=63ae3fea8e5e11cd3eb764b9d2fcdaf4" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-right" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #4c4866;"><img class="rounded img-fluid img-fluid" src="assets/img/51.jpg?h=63ae3fea8e5e11cd3eb764b9d2fcdaf4" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-right" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #4c4866;"><img class="rounded img-fluid img-fluid" src="assets/img/51.jpg?h=63ae3fea8e5e11cd3eb764b9d2fcdaf4" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-right" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #4c4866;"><img class="rounded img-fluid img-fluid" src="assets/img/51.jpg?h=63ae3fea8e5e11cd3eb764b9d2fcdaf4" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-right" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #4c4866;"><img class="rounded img-fluid img-fluid" src="assets/img/51.jpg?h=63ae3fea8e5e11cd3eb764b9d2fcdaf4" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-right" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #4c4866;"><img class="rounded img-fluid img-fluid" src="assets/img/51.jpg?h=63ae3fea8e5e11cd3eb764b9d2fcdaf4" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-right" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #4c4866;"><img class="rounded img-fluid img-fluid" src="assets/img/51.jpg?h=63ae3fea8e5e11cd3eb764b9d2fcdaf4" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-right" data-aos-duration="600">
                    <div class="border rounded" style="padding: 30px 25px 0px 25px;background-color: #110b36;"><img class="rounded img-fluid img-fluid" src="assets/img/1574.jpg?h=cea3166ec6f54d9c760012282121d7a1" style="height: 179px;width: 100%;">
                        <p class="text-center" style="color: rgb(220,220,220);font-size: 8px;margin-top: 7px;margin-bottom: 10px;">design by Retyna</p>
                    </div>
                </div>
                <div class="col-4 mt-3" data-aos="flip-right" data-aos-duration="600"><img class="rounded img-fluid" src="assets/img/2570072.jpg?h=ff6aafed57d556c687bb6475258e8f6f" style="height: 240px;width: 100%;"></div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-animation.js?h=a24a748d1ebf2b30dec97d2c79b26872"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="assets/js/navbar.js?h=923d4df189f5d8cba791e8cdea65e7aa"></script>
</body>

</html>